@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .logo {
    width: 150px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .h3,
  h3 {
    font-size: 0.75rem;
  }
  
  .company-name {
    margin-top: 20px;
  }

  .reservation-btn {
    text-align: right;
    margin-top: 20px;
  }

.reservation-btn a {
    color: white;
    text-decoration: none;
}
